<div id="teamCard1" class="card py-2 px-4">
    <p>Name: Pokename</p>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png" alt="img">
    <div>
        <p>Type 1: Electric</p>
        <p>Type 2: Fire</p>
    </div>
</div>
