<div class="container bg-danger py-2 p-4 text-center rounded-4 text-dark">
    <h2 class="text-white">Build New Team</h2>
    <div class="container d-flex justify-content-around align-content-center p-2 py-4 bg-light rounded-3">

        {{>teamcard}}
        {{>teamcard}}
        {{>teamcard}}
        {{>teamcard}}
        {{>teamcard}}
        {{>teamcard}}
    </div>
    <div class="container p-3 pb-2">
        <input class="btn btn-danger" type="button" value="Save Team">
        <input class="btn btn-danger" type="button" value="Clear Team">
    </div>
</div>

<div class="container-fluid  rounded-3 bg-danger d-flex flex-column justify-content-center align-items-center my-3">
    <div class="d-flex bg-light-subtle rounded-4 flex-wrap justify-content-around mx-4 my-5 p-4 ">
        <div class="container-fluid bg-light m-0 d-flex align-items-center">
            <h2 class="p-0 m-0">Select your Pokemon</h2>
        </div>
    </div>
        <div class="container">
            <h5>Filters</h5>
            <div>
                <label><input type="text" id="searchName"></label>
                <label><select id="searchName"></label>

            </div>
        </div>
</div>



